*{
    margin: 0px;
    padding: 0px;
    font-family: 'K2D', sans-serif;
    box-sizing: border-box;
}
html{
    font-size: calc(60%+0.8vmin);
}
header{
    background-color:#203F82;
    height: 100%;
    width: 100%;
}
.container h1{
    color:white;
    margin-top: 30px;
}
.container h4{
    margin-top: 10px;
    color: white;
}
.container h5{
    color: white;
    background-color: red;
    font-size: 16px;
}
.container h6{
    color:white;
    margin-top: 20px;
}
.container img {
    margin-top: 30px;
    border-radius: 8px;
}
.section{
    height: 100vh;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container1{
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 20px #00000010;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 20px;
}
.form-group{
    width: 100%;
    margin-top: 20px;
    font-size: 14px;
    color: black;
}
.form-group input {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border:1px solid #DE1303;
    margin-top: 5px;
}
button[type="submit"]{
    width: 100%;
    border: none;
    outline: none;
    padding: 4px;
    font-size: 16px;
    border-radius: 8px;
    color: white;
    background-color: red;
    margin-top: 20px;
    cursor: pointer;
    transition: .5s ease background-color;
    display: block;
}
button[type="submit"]:hover{
    background-color: blue;
}  
#status{
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
}
#status.success{
    background-color: #7CE511;
    color:white;
    margin-bottom: 20px;
    animation:status 4s ease forwards;
}
#status.error{
    background-color: red;
    color: white;
    margin-bottom: 20px;
    animation:status 4s ease forwards;
}
@keyframes status {
    0% {
      opacity: 1;
      pointer-events: all;
    }
    90% {
      opacity: 1;
      pointer-events: all;
    }
    100% {
      opacity: 0;
      pointer-events: none;
    }
}
intro {
    display: block;
}
intro h3{
    text-align: center;
}
.video{
    display: block;
    margin-left:10%;
    margin-top: 2%;
}
intro .intro1{
    max-width: 50%;
    margin-left: 10%;
    padding: 1%;
    text-align:justify;
    margin-top: 20px;
    background-color: #d8d9d9;
    border-radius: 10px;
    margin-right: 10%;
}
.suggest{
    display:inline-flex;
}
.container .benefit{
    margin-top: 5%;
}
.container .benefit h4{
    color: black;
    text-align: center;
}
.con-inside{
    background-color: #7fd6d0;
    width: 80%;
    height: 50%;
    margin:0 auto;
    text-align: left;
    padding-left: 2%;
    margin-top: -5px;
    padding-bottom: 10px;
}
.con-inside h3{
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
}
.inside{
    color: black;
    margin-top: 20px;
    display:block;
}
.con-benefit{
    background-color: #d8d9d9;
    margin-top: 20px;
    padding-bottom: 25px;
}
.benefit h3{
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
}

#fast-con{
    display: inline-block;
    text-align: center;
    width: auto;
    margin-left: 80px;
}

#fast{
    background-color: #339933;
    color:white;
    margin-top: 30px;
    opacity: 0.6;
}
.fast{
    background-color: #CDE5B3;
    color: black;
    padding-top: 20px;
    margin-top: -8px;
}
.big-font{
    font-size: 70px;
    text-align: center;
}
#enter-con{
    display: inline-block;
    text-align: center;
    width: auto;
}


#enter{
    background-color: #31A8E0;
    color:white;
    margin-top: 30px;
    opacity: 0.6;
}
.enter{
    background-color: #ADDBF2;
    color: black;
    padding-top: 20px;
    margin-top: -8px;
}

#export-con{
    display: inline-block;
    text-align: center;
    width: auto;
}


#export{
    background-color: #7B67AE;
    color:white;
    margin-top: 10px;
    opacity: 0.6;
}
.export{
    background-color: #CBC2DF;
    color: black;
    padding-top: 20px;
    margin-top: -8px;
}

#security-con{
    display: inline-block;
    text-align: center;
    width:75%;
}


#security{
    background-color: #FDB717;
    color:white;
    margin-top: 30px;
    opacity: 0.6;
}
.security{
    background-color: #FFE3A2;
    color: black;
    padding-top: 20px;
    margin-top: -8px;
}

.get-cars{
    text-align: center;
    background-color: #4FB4C8;
    padding-top: 20px;
    padding-bottom: 25px;
}

.get-cars img{
    width: 50%;
    margin-top: 10px;
    border-radius: 20px;
}
.footer{
    background-color: #26272b;
    padding: 25px 20px 2px;
}
.footer h5{
    text-align: center;
}
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    padding: 10px 50px;
    margin: 0 auto;
}